.video {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background {
    overflow: hidden; 
    width: 100vw; 
    height: 100vh; 
    background-color: #000000; 
}