
.modalLayout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    padding: 0.5rem 0;
    box-sizing: border-box;
    position: relative;
    justify-content: space-between;
}

.title {

    color: ivory;
    text-align: center;
    margin-bottom: 1rem;
    flex-shrink: 0;
    padding-inline: 1rem;
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}


.contentWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-grow: 1; 
    min-height: 0;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 90vw;
    max-height: 90vh;
    overflow: hidden;
    line-height: 0;
    display: inline-block;
    
}


.imageContainer img {
    object-fit: contain !important;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

/* Стилі для оверлея з текстом */

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 101%;
    height: 100%;
    padding: 1.5rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    backdrop-filter: blur(0);
    gap: 1rem;
    border-radius: 0.6rem;
}

.overlayMobile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 101%;
    padding: 1.5rem 2.5rem;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
    backdrop-filter: blur(0);
    gap: 1rem;
    border-radius: 0.6rem;
}

.descriptionText {
    color: ivory;
    font-size: clamp(0.7rem,2vw, 1.2rem);
    line-height: 1.4;
    max-width: 50rem;
}
.descriptionMats {
    color: ivory;
    font-size: clamp(0.8rem,2vw, 1.2rem);
    line-height: 1.4;
    text-align: center;
}

.imageContainer:hover .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 1;
    backdrop-filter: blur(15px);
    cursor: zoom-out;
}


.arrowWrap {
    cursor: pointer;
    padding: 1rem;
    flex-shrink: 0;
}

/* ----- BREAKPOINTS ----- */

@media (max-width: 540px) {
    .overlay {
       width: 100%;
       min-height: 15rem;
    }

    .modalLayout {
        padding: 0;
    }

    .title {
        position: absolute;
        top: 0.5rem;
        text-align: center;
        inset-inline: 0;
    }

    .arrowWrap {
        padding: 0;
    }

}

@media (max-width: 1000px) {
    
    .imageContainer {
        width: 100%;
    }
}

@media screen and (orientation: landscape ) {
    .overlay {
        height: 100%;
        width: 90%;
    }

    .descriptionText {
        font-size: clamp(0.7rem, 1.3vw, 1.25rem);
        line-height: 1.4;
    }
}