
.title {
    color: ivory;
}

.contentWrap {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.image {

    object-fit: contain;
    

}
.image:hover {
    cursor: zoom-out;
}

.arrowWrap {
    width: fit-content;
    height: fit-content;
}

/* ----- BREAKPOINTS ------ */

@media (max-width: 950px) {
    .image {
        width: 90%;
    }
}

@media (max-width: 450px) {
    .image {
        width: 80%;
    }
}