
.container {
  z-index: 50;
  position: relative;
  top: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 2rem;
  background-color: #000;
}

.logo {
  width: clamp(4rem, 5dvw, 5rem);
  height: clamp(4rem, 5dvw, 5rem);
  position: relative;
  cursor: no-drop;
  transition: all 0.3s ease;
}
.logo:hover {
	transform: scale(1.2);
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  gap: clamp(0.5rem, 2dvw, 1rem);
  margin: 0;
  padding: 0;
}

.itemWrap {
	flex: 0 1 auto;
}

.item {
  position: relative;
  text-decoration: none;
  color: ivory;
  font-size: clamp(1rem, 3dvw, 2rem);
  text-transform: uppercase;
  transition: text-shadow 0.4s ease;
  letter-spacing: 2px;
  text-shadow: none;
}

/* ANIMATION 3  */
.item:hover {
	color: transparent;
 }
 
.item:hover:before, .item:hover:after {
	 position: absolute;
	 content: attr(data-text);
	 transform: translate(-50%, -50%);
	 opacity: 0.8;
	 z-index: 1;
}
.item:hover:before {
	 top: 49.5%;
	 left: 49.5%;
	 background: linear-gradient(90deg, #fffc5f, #87cc2d, #4ece92, #4765ca, #c54dc5, #ad3232);
	 background-clip: text;
	 color: transparent;
	 animation: distort1 200ms linear infinite;
}
.item:hover:after {
	 top: 50.5%;
	 left: 50.5%;
	 color: ivory;
	 animation: distort2 200ms linear infinite;
}
.item:active:after, .item:active:before {
	display: none;
}
.item:active {
	color: #ad3232;
}

@keyframes distort1 {
  0% {
    top: 49%;
    left: 49%;
  }
  12.5% {
    top: 48.5%;
    left: 50.5%;
  }
  25% {
    top: 49.5%;
    left: 51.5%;
  }
  37.5% {
    top: 50.5%;
    left: 52%;
  }
  50% {
    top: 51.5%;
    left: 52.5%;
  }
  62.5% {
    top: 52.5%;
    left: 51.5%;
  }
  75% {
    top: 52%;
    left: 50%;
  }
  87.5% {
    top: 50.5%;
    left: 48.5%;
  }
  100% {
    top: 49%;
    left: 49%;
  }
}

@keyframes distort2 {
  0% {
    top: 51.5%;
    left: 51.5%;
  }
  12.5% {
    top: 52.5%;
    left: 50.5%;
  }
  25% {
    top: 53%;
    left: 49.5%;
  }
  37.5% {
    top: 52.5%;
    left: 48%;
  }
  50% {
    top: 51%;
    left: 47.5%;
  }
  62.5% {
    top: 50%;
    left: 48.5%;
  }
  75% {
    top: 49%;
    left: 50%;
  }
  87.5% {
    top: 48.5%;
    left: 51.5%;
  }
  100% {
    top: 51.5%;
    left: 51.5%;
  }
}


/* ----- BREAKPOINTS ----- */

@media (max-width: 768px) {
  	.itemWrap {
    	flex: 0 1 calc(50% - 0.5rem);
    	justify-content: center;
    	display: flex;
  	}
}

