.container {
  perspective: 1000px;
  display: inline-block;
}

.imageWrap {
  transition: transform 0.2s ease;
  transform-style: preserve-3d;
  will-change: transform;
  margin: 1rem;
}

.image {
  height: 40rem;
  width: 40rem;
  display: block;
  object-fit: cover;
  filter: grayscale();
  transition: filter 0.5s ease;

  -webkit-mask-image: url('/utils/blob.png');
  mask-image: url('/utils/blob.png');
  
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  mask-mode: alpha;
  -webkit-mask-mode: alpha;
}

.image:hover {
  filter: none;
}

.highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 255, 0.25),
    transparent 60%
  );
  mix-blend-mode: soft-light;
  transition: background-position 0.2s ease;

  -webkit-mask-image: url('/utils/blob.png');

  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;

  mask-mode: alpha;
  -webkit-mask-mode: alpha;
}

/* ----- BREAKPOINTS ----- */

@media (max-width: 600px) {
  .image {
    width: 25rem;
    height: 25rem;
  }
}

@media (max-width: 480px) {
  .image {
    width: 22rem;
    height: 22rem;
  }
}

@media (max-width: 360px) {
  .image {
    width: 18rem;
    height: 18rem;
  }
}
